/* Load dark mode colors by default */
:root {
  --background-color: black;
  --text-color: white;
  --link-color: cornflowerblue;
  --visited-link-color: plum;
  
  --table-border-color: #343d44;
  --table-stripe-color: #1c2125;
}

/* Swap to light mode if preferred */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --text-color: black;
    --link-color: blue;
    --visited-link-color: #551A8B;

    --table-border-color: #e2e5e8;
    --table-stripe-color: #f6f8fa;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0 1em 1em 1em;
  background-color: var(--background-color);
  color: var(--text-color);
}

.site-header {
  text-align: center;
  margin: 2em 0;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}

a:active {
  color: red;
}

.site-nav a:visited {
  color: var(--link-color); 
}

.site-nav ul {
  list-style: none;
  padding: 0;
}

.site-nav li {
  display: inline;
}

.site-nav li:after {
  content: '| ';
}

.site-nav li:last-child:after {
  content: '';
}

.profile {
  display: block;

  width: 200px;
  height: 200px;
  margin: 0 auto;

  border-radius: 50%;
}

.post img {
  max-width: 100%;
}

.post-nav {
  display: table;
  width: 100%;
}

.post-nav-previous {
  display: table-cell;
  text-align: left;
}

.post-nav-next {
  display: table-cell;
  text-align: right;
}

.site-footer {
  text-align: center;
  font-size: 0.8rem;

  margin: 1rem 0;
}