---
width: "800px"
---
<!doctype html>
<html lang="en">
  <head>
    {% include ga.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} &mdash; {{ site.title }} </title>

    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:image" content="/assets/profile.png">
    <meta name="og:url" content="{{ site.url }}{{ page.url }}">
    {% if page.date %}
    <meta name="og:type" content="article">
    <meta name="og:type:published_time" content="{{ page.date }}">
    <meta name="og:type:author">
    <meta name="og:type:author:first_name" content="Ishan">
    <meta name="og:type:author:last_name" content="Bhargava">
    {% for tag in page.tags %}
    <meta name="og:type:tag" content="{{ tag }}">
    {% endfor %}

    {% else %}
    <meta name="og:type" content="profile">
    <meta name="og:type:first_name" content="Ishan">
    <meta name="og:type:last_name" content="Bhargava">
    {% endif %}

    <link rel="icon" type="image/png" href="/assets/profile.png">
    <link rel="canonical" href="{{ site.url }}{{ page.url}}">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">

    <link rel="stylesheet" type="text/css" href="/css/syntax.css">

    {% for style in page.css %}
      <link rel="stylesheet" type="text/css" href="/css/{{ style }}">
    {% endfor %}

    <style type="text/css">
    body {
      max-width: {{ page.width | default: "800px" }};
    }
    </style>
  </head>

  <body>
    <header class="site-header">
      <img src="/assets/profile.png" class="profile">
      <h2>{{ site.title }}</h2>

      {% include site-nav.html %}
    </header>
    
    {{ content }}

    <footer class="site-footer">
      {% include site-nav.html %}
      Ishan Bhargava &copy; 2019
    </footer>
  </body>
</html>