<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} — {{ site.title }} </title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  </head>

  <body>
    <header class="site-header">
      <img src="/assets/profile.png" class="profile">
      <h2>{{ site.title }}</h2>

      {% include site-nav.html %}
    </header>
    
    {{ content }}
  </body>
</html>